@use '../../variables';

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: variables.$muted-color;
  border-top: 1px solid variables.$border-color;
}
